In [82]:
import pandas as pd
import numpy as np
import math
import sys
import os
import json
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
from mpl_toolkits.axes_grid1 import AxesGrid

plt.style.use('ggplot')
path_project = "/home/igormago/projects/DeepFootball/"
sys.path.insert(1, path_project)
from conf.configparser import conf

PATH_EXPERIMENTS = os.path.join(conf['path']['experiments'], 'btts_v2')
from sklearn.metrics import accuracy_score
from sklearn.metrics import brier_score_loss

In [83]:
basic = ['performance', 'gw', 'basic']
dcw = ['performance', 'gw', 'dcw']
rs = ['performance', 'gw', 'rs']
experiments = [basic, dcw, rs]

CHAMPIONSHIPS =  ['Brazil A', 'Brazil B', 'England A', 'France A', 'Germany A', 'Italy A', 
                 'Netherlands A', 'Portugal A', 'Spain A']

resume_acc = pd.DataFrame()
resume_bl = pd.DataFrame()
for e in experiments:
    
    for c in CHAMPIONSHIPS:
        
        df_path = os.path.join(PATH_EXPERIMENTS, e[0], e[1], e[2], 'predictions', 'test.csv')
        df = pd.read_csv(df_path)

        df = df[(df['m.rg'] > 4) & (df['m.ss.ch.nm'] == c)]

        acc = accuracy_score(df['pred'], df['m.res.bts'])
        bl = brier_score_loss(df['obs.bts.y'], df['pred_prob_y'])
    
        resume_acc.loc[e[2],c] = acc
        resume_bl.loc[e[2],c] = bl
    
    df_path = os.path.join(PATH_EXPERIMENTS, e[0], e[1], e[2], 'predictions', 'test.csv')
    df = pd.read_csv(df_path)

    df = df[(df['m.rg'] > 4)]

    acc = accuracy_score(df['pred'], df['m.res.bts'])
    bl = brier_score_loss(df['obs.bts.y'], df['pred_prob_y'])

    resume_acc.loc[e[2],'Total'] = acc
    resume_bl.loc[e[2],'Total'] = bl

In [84]:
display(resume_acc)

,Brazil A,Brazil B,England A,France A,Germany A,Italy A,Netherlands A,Portugal A,Spain A,Total
basic,0.472059,0.452941,0.520588,0.502941,0.577778,0.520588,0.58256,0.480519,0.495588,0.509126
dcw,0.532353,0.533824,0.477941,0.497059,0.422222,0.479412,0.41744,0.519481,0.500000,0.489119
rs,0.527941,0.545588,0.480882,0.497059,0.422222,0.479412,0.58256,0.519481,0.504412,0.506494

In [85]:
display(resume_bl)

,Brazil A,Brazil B,England A,France A,Germany A,Italy A,Netherlands A,Portugal A,Spain A,Total
basic,0.290508,0.294059,0.314550,0.300853,0.297989,0.313702,0.306083,0.316651,0.310691,0.304868
dcw,0.298257,0.290407,0.314607,0.300878,0.287314,0.314536,0.305113,0.316043,0.308957,0.304098
rs,0.290479,0.294099,0.314583,0.300861,0.297973,0.313698,0.306077,0.316640,0.310708,0.304872